
html,
body {
	font-family: 'Raleway', sans-serif;
    height: 100%;
}
body {
    background-color: #f6f7f4
}

h1, .h1, .article h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 120px;
}

.wrap > .container {
    padding: 0px 15px 20px;
	padding-top: 15px;
}
ul.breadcrumb {
    margin-top: 15px;
}
.alert {
    margin-top: 15px;    
}
.spin {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
   left:0;
   right:0;
   top: 50%;
   height:60px;
   width:60px;
   margin:0px auto;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border-left:6px solid rgba(0,174,239,.15);
   border-right:6px solid rgba(0,174,239,.15);
   border-bottom:6px solid rgba(0,174,239,.15);
   border-top:6px solid rgba(0,174,239,.8);
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* tooltips/flight search */
.hasTooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.hasTooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.hasTooltip .toolTiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hasTooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*LOGO STYLES*/
.navbar-spacing-large {
	height: 119px;
}

.navbar-spacing-small {
	height: 50px;
}

 .navbar-nav > li:hover {
	background-color: #202020;
}

.navbar-brand .visible-xs.logo-div img {
	float: left;
}

.navbar-brand .logo-text-xs {
	padding-left: 15px;
	float: left;
	color: white;
	font-size: 19px;
	padding-top: 0px;
	margin-top: -20px;
}
.navbar-brand  .logo-text {
	float: left;
    font-size: 28px;
    padding-top: 15px;
    padding-left: 20px;
    color: white;
}

.navbar-nav li {
}

.navbar-nav li {
	background-color: #121212;
}

.navbar-header {
    right: 100px;
    
}
.logo {
    width: 110px;
    height: 100px;
}

/*CAROUSEL STYLES*/ 
@media screen and (min-width: 768px)
.carousel-caption {
    right: 0;
    left: 0;
}

div.carousel-caption {
    /*top: 100px;*/
    left: 0px;
    width: 100%;
    /*height: 100px;*/
    background-color: rgba(0,0,0, 0.5);
    /*padding: 10px;*/
    /*bottom: 0;*/
    /*padding-bottom: 0;*/
}



/*NAVBAR STYLES*/
.navbar-brand {
	padding-top: 7px;
}
.navbar {
    color: white;
    background-color: #121212;
    border-bottom: 1px solid #444;
}
.navbar-inverse {
}
.navbar-header a {
    line-height: 80px;
}
.navbar-inverse .navbar-nav > li > a {
    border-left: 1px solid #444;
	padding-bottom: 18px;
	padding-top: 20px;
}

.navbar-right {
	margin-right:0px;
	margin-top: 0px;
}

.navbar-inverse .navbar-nav > li:last-child > a {
    border-right: 1px solid #444;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #202020;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
}
.navbar-inverse .navbar-nav > li > a {
    line-height: 80px;
    color: white;
    font-size: 18px;
    font-weight: lighter;
/*    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    -o-transition: background 200ms ease;
    transition: background 200ms ease;*/
}
.navbar-nav li.power a {
    color: white;
    background-color: rgb(216, 127, 127);
}
.navbar-nav li.power:hover a {
    color: white;
    background-color: rgb(216, 90, 90);
}
.navbar-nav li.travel a {
    color: white;
    background-color: rgb(127, 194, 216);
}
.navbar-nav li.travel:hover a {
    color: white;
    background-color: rgb(102, 182, 209);
}
.navbar-nav li.game a {
    color: white;
    background-color: rgb(194, 216, 127);
}
.navbar-nav li.game:hover a {
    color: white;
    background-color: rgb(164, 197, 64);
}
.navbar-nav li.star a {
    color: white;
    background-color: rgb(236, 209, 127);
}
.navbar-nav li.star:hover a {
    color: white;
    background-color: rgb(227, 186, 64);
}



/*FRONTPAGE STYLES*/
#next-event-img {
    position: absolute;
    top: -50px;
    border: 10px solid white;
    /*background-color: rgba(255, 255, 255,.7);*/
    max-width: 343px;
    max-height: 264px;
}
#empty-under-event-img {
    min-height: 264px;
}
/*SITE INDEX NEWS STYLES*/
.site-index {
	margin-top: -15px;
}
.site-index .articles {
	margin-top: 15px;
	padding-right: 0px;
}
/*#news-stream {
    position: absolute;
    top: 550px;
}
*/
/*BOOTSTRAP-OVERWRITING*/

/* 1.1 SITE-WIDE BUTTONS */

.btn {
    border: 0;
    position: relative;
    color: white;
    border-radius: 0px;
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    -o-transition: background 200ms ease;
    transition: background 200ms ease;
}
.btn:hover {
    color: white;
}
.btn:focus {
    color: white;
}
.btn-power {
    border-bottom: 5px solid rgb(216, 127, 127); 
    background-color: rgb(216, 90, 90);
}
.btn-power:hover {
    border-bottom: 5px solid rgb(216, 90, 90); 
    background-color: rgb(216, 127, 127);
}
.btn-power:focus {
    border-bottom: 5px solid rgb(216, 127, 127); 
    background-color: rgb(216, 90, 90);
}
.btn-travel {
    border-bottom: 5px solid rgb(127, 194, 216); 
    background-color: rgb(102, 182, 209);
}
.btn-travel:hover {
    border-bottom: 5px solid rgb(102, 182, 209); 
    background-color: rgb(127, 194, 216);
}
.btn-travel:focus {
    border-bottom: 5px solid rgb(102, 182, 209); 
    background-color: rgb(127, 194, 216);
}
.btn-game {
    border-bottom: 5px solid rgb(194, 216, 127); 
    background-color: rgb(164, 197, 64);
}
.btn-game:hover {
    border-bottom: 5px solid rgb(164, 197, 64); 
    background-color: rgb(194, 216, 127);
}
.btn-game:focus {
    border-bottom: 5px solid rgb(164, 197, 64); 
    background-color: rgb(194, 216, 127);
}
.btn-star {
    border-bottom: 5px solid rgb(236, 209, 127); 
    background-color: rgb(227, 186, 64);
}
.btn-star:hover {
    border-bottom: 5px solid rgb(227, 186, 64); 
    background-color: rgb(236, 209, 127);
}
.btn-star:focus {
    border-bottom: 5px solid rgb(227, 186, 64); 
    background-color: rgb(236, 209, 127);
}


/*EVENT INDEX STYLES*/
.event {
    height: 300px;
    color: #444;
	border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-bottom: 10px;
}

.event-title {
	margin-top: 10px;
}

.event-image {
	padding-top: 15px;
}

.event-list div.col-xs-12.event-row-inside {
	padding-left: 0px;
	padding-right: 10px;
}

.event-list div.col-xs-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.event-list .row {
	margin-left: 0px;
	margin-right: 0px;
}

.event-list .item {
	padding-left: 0px;
	padding-right: 0px;
}

.event-list {
	margin-top: 15px;
}

.event h2 {
    background-color: rgba(255,255,255,.9);
}
.event .event-info {

}
.event .event-info {
    background-color: rgba(255,255,255,.9);
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    /*visibility: hidden;*/
    padding: 10px;
}
.event a {
    /*visibility: hidden;*/
}
.event:hover .event-info, .event:hover a {
    /*visibility: visible;*/
}

/*FLIGHT INDEX STYLES*/

.ui-state-focus:focus { outline:none !important }

#advanced-search {
	padding-top: 8px;
    padding-bottom: 8px;
}

.ui-accordion .ui-accordion-content{ overflow:hidden !important; padding-bottom: 20px; }

#accordion .advanced-search-slider{
	padding-bottom: 10px;
}

.ui-slider-range {
	background: #337ACD;
}

#accordion {
	margin-bottom: 20px;
}

#event_id {
	margin-bottom: 10px;
}

.slider-range-time-min {
	padding-top: 17px;
	left: -33px;
	width: 150px;
}

.slider-range-time-max {
	padding-top: 17px;
    padding-bottom: 20px;
	left: -33px;
	width: 150px;
}

input#flightsearchform-departure, input#hotelsearchform-checkout, input#hotelsearchform-checkin, input#flightsearchform-return,
input#flighthotelsearchform-departure, input#flighthotelsearchform-checkout, input#flighthotelsearchform-checkin, input#flighthotelsearchform-return   {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	display: block;
}

.flights .flight-price {
    font-size: 16px;
}
/*FLIGHT VIEW STYLES*/
.flight-view .flight-price {
    font-size: 28px;
}

.flight-view h1 {
    padding-bottom: 15px;
}

/*COMMENT STYLES*/
.comment {
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, .3);
}


/*ARTICLE STYLES*/
.article, .content-div {
	border: 1px solid #ccc;
    padding: 10px;
    background-color: rgba(40,96,144,0.07);
}
a.title-link {
    color: #444;
    
}
a.title-link:hover {
}


/*PAGINATION STYLES*/
.pagination > li > a, 
.pagination > li > span {
    padding: 6px 24px;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: rgb(227, 186, 64) !important;
    border-color: rgb(236, 209, 127) !important;
}

/*FOOTER STYLES*/
.footer {
    /*height: 60px;*/
    background-color: #111111;
    color: #eeeeee;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


/*FLIGHT HOTEL SEARCH STYLES*/

.hotels .ajax-load-more-hotels .form-group {
	margin-left: 15px;
    margin-right: 15px;
    margin-top: -15px;
}

.hotel-rate-item {
	border: 1px solid #ddd;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
}

.quicksearch {
	margin-top: 15px;
    border: 1px solid #ccc;
}

.quicksearch  form {
	margin-top: 10px;
}

input#flight-search-form-event_id, input#hotel-search-form-event_id {
	margin-bottom: 5px;
}

.field-hotel-search-form-location {
	margin-bottom: 7px;
}

.quicksearch #buttonCheck2 {
	margin-left: 5px;
}

.quicksearch #buttonCheck2 {
	margin-left: 5px;
}

.quicksearch #searches {
	margin-top: 5px;
}

.quicksearch .btn {
	top: 10px;
}

.flight-list-item, .hotel-list-item {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: white;
    margin-bottom: 15px;
}
.flight-list-item h2, .hotel-list-item h2 {
    font-size: 20px;
}
.flight-list-item h3, .hotel-list-item h3 {
    font-size: 16px;
}
.flight-link-wrap, .hotel-link-wrap {
    color: #444;
}
.flight-link-wrap:hover > div, .hotel-link-wrap:hover > div {
    color: #444;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(50,50,50,.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(50,50,50,.2);
    box-shadow: 0px 0px 5px 2px rgba(50,50,50,.2);
}
.flight-link-wrap:focus > div, .hotel-link-wrap:focus > div {
    color: #444;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(50,50,50,.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(50,50,50,.2);
    box-shadow: 0px 0px 5px 2px rgba(50,50,50,.2);
}

.iframe iframe {
    min-height: 1000px;
    border: 1px solid gray;
}

.card-security-warning {
    text-indent: 50px;
}

/*ACCOUNT STYLES*/
#account-menu {
    position: fixed;
}
.user-account h2:before {
    display: block; 
    content: " "; 
    margin-top: -100px; 
    height: 100px; 
    visibility: hidden; 
}

/*BOOKING STYLES*/
.booking-view h1 {
	margin-top: 10px;
}

.booking-view .hotel-list-item h2 {
	margin-top: 0px;
}

.booking-view .hotel-rate {
    float: right;
    left: -34px;
    top: -139px;
    position: relative;
}

.booking-view .row {
	margin-left: 0px;
	margin-right: 0px;
}

.booking-view .delete-saved-booking-icon .glyphicon {
    float: right;
    top: -42px;
    font-size: 17pt;
    color: #333;
}

.booking-view .hotel-list-item {
	margin-bottom: 0px;
}

.booking-view .flight-list-item, .booking-view .hotel-list-item {
    border: none;
}

.booking-view .red .empty {
	background-color: rgba(204,51,51,.4);
	padding: 10px;
}

.booking-view  .table > tbody > tr > td, .booking-view  .table > tbody > tr > th {
	border-top: 1px solid black;
}

.booking-view .green .flight-list-item, .booking-view .green .hotel-list-item {
	background-color: rgba(44,160,44,.4);
}

.booking-view .orange .flight-list-item, .booking-view .orange .hotel-list-item {
	background-color: rgba(255,163,0,.4);
}

.booking-view .green .content-div, .booking-view  .green .content-div {
	padding: 10px;
	padding-top: 0px;
	border: none;
    background-color: rgba(44,160,44,.15);
}

.booking-view .orange .content-div, .booking-view .orange .content-div {
	padding: 10px;
	padding-top: 0px;
	border: none;
    background-color: rgba(255,163,0,.15);
}

.booking-view .hotel-details.content-div {
	padding-top: 10px;
}

.booking-view .flight-list-item {
	margin-bottom: 0px;
}

.booking-view .btn-danger {
	margin-top: 15px;
	width: 100%;
	line-height: 2.33;
}

.booking-view .btn-success {
	margin-top: 30px;
	width: 100%;
	line-height: 2.33;
}